/* Start Varaibles */
:root {
  --main-color: #0071f8;
  --secondary-color: #ee626b;
  --section-padding: 20px;
}
/* End Varaibles */
/* Start Global Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

.main-heading {
  color: var(--secondary-color);
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.heading h2 {
  font-size: 40px;
}

.heading button {
  padding: 20px;
  border-radius: 30px;
  border: none;
  background-color: var(--secondary-color);
  color: white;
  text-transform: uppercase;
  font-size: 17px;
  cursor: pointer;
  transition: 0.4s;
}

.heading button:hover {
  background-color: var(--main-color);
}

/* Start Header */
.scrolled {
  border-radius: 0px 0px 30px 30px;
}

header {
  width: 100%;
  padding: var(--section-padding);
  height: fit-content;
  background-color: var(--main-color);
  position: sticky;
  top: 0;
  z-index: 10;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .logo {
  width: 30%;
}

header .container nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
}

header .container nav i {
  font-size: 25px;
  flex-basis: 10%;
  color: white;
  display: none;
}

header .container nav ul {
  display: flex;
  justify-content: space-between;
  flex-basis: 90%;
}

header .container nav ul li a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  background-color: transparent;
  border-radius: 25px;
  transition: 0.4s;
}

header .container nav ul li .active {
  background: rgb(255 255 255 / 10%);
}
header .container nav ul li a:hover {
  background: rgb(255 255 255 / 10%);
}

header .container nav ul li:last-child a {
  background-color: var(--secondary-color);
  text-transform: uppercase;
}

@media (max-width: 991px) {
  header .container .logo img {
    width: 120px;
  }
  header .container nav i {
    display: block;
  }
  header .container nav ul {
    position: absolute;
    left: 0;
    top: 75%;
    width: 100%;
    flex-direction: column;
    text-align: center;
    background: var(--main-color);
    padding: 10px 0;
    z-index: 9;
    display: none;
  }
  header .container nav ul li {
    padding: 20px 0;
  }
  header .container nav ul li:not(:last-child) {
    border-bottom: 1px solid white;
  }
  header .container nav ul li:last-child {
    margin-top: 5px;
  }
}

@media (min-width: 1200px) {
  header .container nav ul li a {
    font-size: 22px;
  }
}
/* End Header */
/* Start Hero */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/page-heading-bg.jpg);
  background-size: cover;
  padding: 100px var(--section-padding);
  border-radius: 0px 0px 130px 130px;
  color: white;
}

.hero h1 {
  font-size: 55px;
  text-transform: uppercase;
}

.hero h3 {
  text-align: center;
  font-weight: normal;
}
/* End Hero */
/* Start Games */
.games {
  padding: 100px var(--section-padding);
}

.games .container .type {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}

.games .container .type:not(:first-child) {
  border-top: 1px solid #c7c6c6;
}

.games .container .type > h2 {
  text-align: center;
  padding: 15px 25px;
  background: var(--secondary-color);
  color: white;
  width: fit-content;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 80px;
  text-transform: uppercase;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.games .container .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.games .container .cards .card {
  position: relative;
  flex-basis: 23%;
  background-color: #eeeeee;
  border-radius: 20px;
}

.games .container .cards .card img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
}

.games .container .cards .card .price {
  position: absolute;
  top: 5%;
  right: 5%;
  padding: 10px 20px;
  background: var(--main-color);
  color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.games .container .cards .card .price h4 del {
  font-weight: normal;
}

.games .container .cards .card .price h3 {
  font-size: 21px;
  font-weight: 600;
}

.games .container .cards .card .data {
  padding: 15px;
}

.games .container .cards .card .data h4 {
  font-size: 18px;
  color: #848484;
  font-weight: normal;
  margin: 10px 0 5px;
}

.games .container .cards .card .data .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
}

.games .container .cards .card .data .footer:hover .icon {
  transition: 0.4s;
}

.games .container .cards .card .data .footer:hover {
  color: var(--main-color);
}

.games .container .cards .card .data .footer:hover .icon {
  background-color: var(--main-color);
}

.games .container .cards .card .data h2 {
  font-size: 18px;
  font-weight: 600;
}

.games .container .cards .card .data .icon {
  padding: 10px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.games .container .cards .card .data .icon i {
  color: white;
}

.games .container .numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.games .container .numbers .number {
  width: 40px;
  height: 40px;
  background-color: #eeeeee;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}

@media (max-width: 991px) {
  .games {
    padding-top: 50px;
  }
}

/* End Games */
/* Start Footer */
footer {
  margin-top: 30px;
  text-align: center;
  background-image: url(../images/footer-bg.jpg);
  background-size: cover;
  padding: 30px var(--section-padding) 100px var(--section-padding);
  border-top-left-radius: 140px;
  border-top-right-radius: 140px;
  color: white;
}

footer h2 {
  font-size: 20px;
  font-weight: normal;
}

@media (max-width: 991px) {
  footer {
    margin-top: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}
/* End Footer */
