/* Start Varaibles */
:root {
  --main-color: #0071f8;
  --secondary-color: #ee626b;
  --section-padding: 20px;
}
/* End Varaibles */
/* Start Global Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

.main-heading {
  color: var(--secondary-color);
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.heading h2 {
  font-size: 40px;
}

.heading button {
  padding: 20px;
  border-radius: 30px;
  border: none;
  background-color: var(--secondary-color);
  color: white;
  text-transform: uppercase;
  font-size: 17px;
  cursor: pointer;
  transition: 0.4s;
}

.heading button:hover {
  background-color: var(--main-color);
}

@media (max-width: 767px) {
  .main-heading {
    text-align: center;
  }
  .heading {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
  .heading h2 {
    text-align: center;
  }
  .cards:not(.hero .container .bottom .cards) .card {
    width: fit-content;
  }
  .cards:not(.hero .container .bottom .cards) .card img {
    width: fit-content;
  }
}

/* End Global Rules */
/* Start Header */
.scrolled {
  border-radius: 0px 0px 30px 30px;
}

header {
  width: 100%;
  padding: var(--section-padding);
  height: fit-content;
  background-color: var(--main-color);
  position: sticky;
  top: 0;
  z-index: 10;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .logo {
  width: 30%;
}

header .container nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
}

header .container nav i {
  font-size: 25px;
  flex-basis: 10%;
  color: white;
  display: none;
}

header .container nav ul {
  display: flex;
  justify-content: space-between;
  flex-basis: 90%;
}

header .container nav ul li a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  background-color: transparent;
  border-radius: 25px;
  transition: 0.4s;
}

header .container nav ul li .active {
  background: rgb(255 255 255 / 10%);
}
header .container nav ul li a:hover {
  background: rgb(255 255 255 / 10%);
}

header .container nav ul li:last-child a {
  background-color: var(--secondary-color);
  text-transform: uppercase;
}

@media (max-width: 991px) {
  header .container .logo img {
    width: 120px;
  }
  header .container nav i {
    display: block;
  }
  header .container nav ul {
    position: absolute;
    left: 0;
    top: 75%;
    width: 100%;
    flex-direction: column;
    text-align: center;
    background: var(--main-color);
    padding: 10px 0;
    z-index: 9;
    display: none;
  }
  header .container nav ul li {
    padding: 20px 0;
  }
  header .container nav ul li:not(:last-child) {
    border-bottom: 1px solid white;
  }
  header .container nav ul li:last-child {
    margin-top: 5px;
  }
}

@media (min-width: 1200px) {
  header .container nav ul li a {
    font-size: 22px;
  }
}
/* End Header */
/* Start Hero */
.hero {
  padding: 100px var(--section-padding);
  background-image: url(../images/banner-bg.jpg);
  background-size: cover;
  height: fit-content;
  color: white;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.hero .container {
  display: flex;
  flex-direction: column;
  gap: 150px;
  align-items: center;
  justify-content: space-between;
}

.hero .top {
  display: flex;
  justify-content: space-between;
}

.hero .text {
  flex-basis: 50%;
}

.hero .text h2 {
  font-weight: 500;
  text-transform: uppercase;
}

.hero .text h1 {
  font-size: 50px;
  width: fit-content;
  position: relative;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.hero .text h1::after {
  content: "";
  position: absolute;
  right: 40%;
  bottom: -30%;
  width: 205px;
  height: 25px;
  background-image: url(../images/caption-dec.png);
  background-repeat: no-repeat;
}

.hero .text p {
  line-height: 2;
  margin-bottom: 70px;
  width: 94%;
}

.hero .text .search {
  background-color: white;
  border-radius: 30px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .text .search input {
  border: none;
  outline: none;
  flex-basis: 70%;
  height: 100%;
  padding: 0 20px;
  border-radius: 30px;
}

.hero .text .search button {
  flex-basis: 30%;
  padding: 20px;
  border-radius: 30px;
  border: none;
  outline: none;
  background: var(--secondary-color);
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.4s;
  font-size: 15px;
}

.hero .text .search button:hover {
  background-color: var(--main-color);
}

.hero .image {
  flex-basis: 30%;
}

.hero .image .box {
  position: relative;
}

.hero .image .box h3 {
  padding: 10px 20px;
  border-radius: 35px;
  background-color: var(--main-color);
  width: fit-content;
  position: absolute;
  right: 5%;
  top: 5%;
  font-size: 25px;
}

.hero .image .box h2 {
  width: 120px;
  height: 120px;
  padding: 30px;
  border-radius: 50%;
  background: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -15%;
  left: -15%;
  font-size: 33px;
}

.hero .image .box img {
  max-width: 100%;
  border-radius: 20px;
}

.hero .bottom {
  width: 100%;
  position: relative;
}

.hero .bottom .cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  flex-wrap: wrap;
  gap: 20px;
}

.hero .bottom .card {
  flex-basis: 23%;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 20px;
  color: black;
  box-shadow: 0px 5px 20px rgb(0, 0, 0, 0.5);
}

.hero .bottom .card h2 {
  font-weight: 600;
  font-size: 20px;
}

.hero .bottom .card .image {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-color);
  padding: 20px;
  border-radius: 50%;
  transition: 0.4s;
}

.hero .bottom .card:hover .image {
  background-color: var(--secondary-color);
}

@media (min-width: 1256px) {
  .hero {
    padding: 150px var(--section-padding);
  }
  .hero .container .text h1::after {
    bottom: -50%;
  }
}

@media (max-width: 991px) {
  .hero {
    height: fit-content;
    text-align: center;
  }
  .hero .container .top {
    flex-direction: column;
    gap: 50px;
  }
  .hero .container .text h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
  }
  .hero .container .text h1::after {
    bottom: -45%;
    left: 50%;
    transform: translateX(-50%);
  }
  .hero .container .text p {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%)
  }
  .hero .container .text .search {
     width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%)
  }
  .hero .container .text .search button {
    font-size: 12px;
        position: relative;
    right: 25%;
  }
  .hero .container .image .box h2 {
    left: 5%;
    bottom: 5%;
  }
  .hero .container .bottom .card {
    flex-basis: 48%;
    gap: 20px;
  }
}

@media (max-width: 767px) {
  .hero .container .bottom .cards {
    display: flex;
    justify-content: center;
  }
  .hero .container .bottom .card {
    flex-basis: 80%;
    width: 185.53px;
  }
}

/* End Hero */
/* Start Trending */
.trending {
  padding: 250px var(--section-padding) 150px;
}

.trending .container .cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.trending .container .cards .card {
  position: relative;
  flex-basis: 23%;
  background-color: #eeeeee;
  border-radius: 20px;
}

.trending .container .cards .card img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
}

.trending .container .cards .card .price {
  position: absolute;
  top: 5%;
  right: 5%;
  padding: 10px 20px;
  background: var(--main-color);
  color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.trending .container .cards .card .price h4 del {
  font-weight: normal;
}

.trending .container .cards .card .price h3 {
  font-size: 21px;
  font-weight: 600;
}

.trending .container .cards .card .data {
  padding: 15px;
}

.trending .container .cards .card .data h4 {
  font-size: 18px;
  color: #848484;
  font-weight: normal;
  margin: 10px 0 5px;
}

.trending .container .cards .card .data .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
}

.trending .container .cards .card .data .footer:hover .icon {
  transition: 0.4s;
}

.trending .container .cards .card .data .footer:hover {
  color: var(--main-color);
}

.trending .container .cards .card .data .footer:hover .icon {
  background-color: var(--main-color);
}

.trending .container .cards .card .data h2 {
  font-size: 18px;
  font-weight: 600;
}

.trending .container .cards .card .data .icon {
  padding: 10px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.trending .container .cards .card .data .icon i {
  color: white;
}

@media (max-width: 991px) {
  .trending .container {
    margin-top: 250px;
  }
  .card {
    flex-basis: 48%;
  }
}

@media (max-width: 767px) {
  .trending .container {
    margin-top: 600px;
  }
  .trending .container .cards {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 1164px) {
  .trending .container .cards {
    justify-content: flex-start;
  }
  .trending .container .cards .card {
    flex-basis: 22%;
  }
}
/* End Trending */
/* Start Most Played */
.most-played {
  padding: calc(var(--section-padding) + 50px) var(--section-padding);
  background-color: #eeeeee;
  border-radius: 70px;
}

.most-played .container .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 60px;
}

.most-played .container .cards .card {
  position: relative;
  border-radius: 20px;
  background-color: white;
  width: 100% !important;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 20px;
}

.most-played .container .cards .card .image {
  width: 100% !important;
}

.most-played .container .cards .card .image img {
  border-radius: 20px;
  width: 100% !important;
}

.most-played .container .cards .card .data h3 {
  color: #868686;
  font-size: 15px;
  font-weight: normal;
}

.most-played .container .cards .card .data h2 {
  font-size: 20px;
  margin: 10px 0 40px;
}

.most-played .container .cards .card .data a button {
  padding: 15px;
  border-radius: 30px;
  border: none;
  color: white;
  background-color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 18px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25px;
}
/* End Most Played */
/* Start Categories */
.categories {
  padding: calc(var(--section-padding) + 100px) var(--section-padding);
}

.categories .main-heading {
  text-align: center;
}

.categories .container .heading {
  display: block;
}

.categories .container .heading h2 {
  text-align: center;
}

.categories .container .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.categories .container .cards .card {
  background-color: var(--main-color);
  color: white;
  position: relative;
  border-radius: 20px;
  width: 100% !important;
}

.categories .container .cards .card h2 {
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 20px;
  margin: 25px 0;
}

.categories .container .cards .card .image {
  position: relative;
  width: 100%;
  height: 25%;
  left: 0;
  bottom: -2%;
}

.categories .container .cards .card .image img {
  width: 100% !important;
  border-radius: 20px;
}
/* End Categories */
/* Start Box */
.image2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image2 .container .box2 {
  border-radius: 20px;
  background-image: url(../images/cta-bg.jpg);
  background-size: cover;
  width: 500px;
  height: 500px;
  display: flex;
  position: relative;
}

.image2 .container .box2 > div {
  background-color: #f7f7f7;
  padding: 90px 70px;
  border-radius: 20px;
  position: absolute;
  width: 350px;
}

.image2 .container .box2 > div:first-child {
  left: -35%;
  bottom: -50%;
}

.image2 .container .box2 > div:first-child p {
  color: #4a4a54;
  line-height: 1.5;
  font-size: 16px;
  font-weight: bold;
  margin: 30px 0;
}

.image2 .container .box2 > div:first-child a button {
  padding: 15px 25px;
  border-radius: 30px;
  border: none;
  color: white;
  background-color: var(--secondary-color);
  text-transform: uppercase;
  font-weight: 500;
}

.image2 .container .box2 > div:last-child {
  right: -35%;
  bottom: -50%;
}

.image2 .container .box2 > div:last-child h1 {
  font-size: 29px;
}

.image2 .container .box2 > div:last-child input {
  border: none;
  outline: transparent;
  border-radius: 30px;
  padding: 20px;
  background-color: white;
  margin-bottom: 20px;
  transition: 0.2s;
}

.image2 .container .box2 > div:last-child input:focus {
  outline: 5px solid #d3e0f3;
}

.image2 .container .box2 > div:last-child button {
  padding: 15px 25px;
  text-transform: uppercase;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  border: none;
  background-color: var(--secondary-color);
  border-radius: 30px;
}
.image2 .container .box2 > div .sm-heading {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 16px;
}

.image2 .container .box2 > div h1 {
  font-size: 33px;
  line-height: 1.4;
}

@media (max-width: 991px) {
  .image2 .container .box2 {
    height: fit-content;
  }
  .image2 .container .box2 > div {
    position: unset;
  }
  .image2 .container .box2 {
    background-image: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .image2 .container .box2 > div h1 {
    font-size: 20px !important;
  }
}
/* End Box */
/* Start Footer */
footer {
  margin-top: 550px;
  text-align: center;
  background-image: url(../images/footer-bg.jpg);
  background-size: cover;
  padding: 30px var(--section-padding) 100px var(--section-padding);
  border-top-left-radius: 140px;
  border-top-right-radius: 140px;
  color: white;
}

footer h2 {
  font-size: 20px;
  font-weight: normal;
}

@media (max-width: 991px) {
  footer {
    margin-top: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}
/* End Footer */
